<div class="container py-5">
  <div class="row">
    <!-- <div class="col-4">
      <canvas id="line_chart" width="400px" height="400px"></canvas>
      <h3 class="text-center mt-3">Line Chart</h3>
    </div> -->
    <div class="col-4" style="height: 50vh; width: 50vw">
      <canvas id="bar_chart" width="20px" height="20px"></canvas>
      <h3 class="text-center">Bar Chart</h3>
    </div>
  </div>
</div>
<!-- echo "# expense-tracker" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/sumagowri/expense-tracker.git
git push -u origin main 
-->

<!-- // const barCanvasEle: any = document.getElementById('bar_chart')
// const barChart = new Chart(barCanvasEle.getContext('2d'), {
//   type: 'bar',
//     data: {
//       labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
//       datasets: [{
//         label: 'Sales',
//         data: [65, 59, 80, 81, 56, 55, 40],
//         backgroundColor: [
//           'rgba(255, 99, 132, 0.2)',
//           'rgba(255, 159, 64, 0.2)',
//           'rgba(255, 205, 86, 0.2)',
//           'rgba(75, 192, 192, 0.2)',
//           'rgba(54, 162, 235, 0.2)',
//           'rgba(153, 102, 255, 0.2)',
//           'rgba(201, 203, 207, 0.2)'
//         ],
//         borderColor: [
//           'rgb(255, 99, 132)',
//           'rgb(255, 159, 64)',
//           'rgb(255, 205, 86)',
//           'rgb(75, 192, 192)',
//           'rgb(54, 162, 235)',
//           'rgb(153, 102, 255)',
//           'rgb(201, 203, 207)'
//         ],
//         borderWidth: 1
//       }]
//     },
//     options: {
//       responsive: true,
//       scales: {
//           y: {
//               beginAtZero: true
//           }
//       }
//     }
//   }); -->
