<div class="container py-5">
  <div class="row">
    <!-- <div class="col-4">
      <canvas id="line_chart" width="400px" height="400px"></canvas>
      <h3 class="text-center mt-3">Line Chart</h3>
    </div> -->
    <div class="col-4" style="height: 50vh; width: 50vw">
      <canvas id="bar_chart" width="20px" height="20px"></canvas>
      <h3 class="text-center">Bar Chart</h3>
    </div>
  </div>
</div>
<!-- echo "# expense-tracker" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/sumagowri/expense-tracker.git
git push -u origin main 
-->
